<div class="background">
    <div class="container">
        <div class="footer font_ch">
            <div class="ankle">
                <div class="linkGroup">
                    <ul class="nav txt-s">
                        <li class="home"><a href="index.html">首頁</a></li>
                        <li><a href="seriesOptical.html">系列鏡框</a></li>
                        <li><a href="stores.html">門市據點</a></li>
                        <li><a href="blog.html">部落格</a></li>
                        <li><a href="faq.html">常見問題</a></li>
                    </ul>
                    <ul class="community">
                        <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook picture"></a></li>
                        <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="instagram picture"></a></li>
                        <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line picture"></a></li>
                    </ul>
                </div>
                <ul class="contact h3">
                    <li>
                        <span class="material-symbols-outlined">
                            call
                            </span>
                        <span>0800-000-00</span>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            mail
                            </span>
                        <span>glasses@business.co</span>
                    </li>
                </ul>
            </div>
            <div class="foot">
                <p class="copyright txt-s font_en">Copyright © 2020 Glasses.All rights reserved.</p>
                <p class="terms1 txt-xs">隱私權政策</p>
                <p class="terms2 txt-xs">服務條款</p>
            </div>
        </div>
    </div>
</div>