<div class="background_header">
    <div class="container">
        <div class="header">
            <h1>
                <a class="logo" href="index.html">眼鏡官網</a>
            </h1>
            <ul class="nav txt-m font_ch">
                <li><a href="seriesOptical.html">系列鏡框</a></li>
                <li><a href="stores.html">門市據點</a></li>
                <li><a href="blog.html">部落格</a></li>
                <li><a href="faq.html">常見問題</a></li>
            </ul>
        </div>
    </div>
</div>