<div class="outerBox">
    <ul class="pagination font_en">
        <li class="page prev">上一頁</li>
        <li class="page page1">1</li>
        <li class="page page2">2</li>
        <li class="page page3">3</li>
        <li class="page page4">4</li>
        <li class="page page5">5</li>
        <li class="page next">下一頁</li>
    </ul>
</div>