/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.h1 {
  font-size: 64px;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 36px;
}

.txt-l {
  font-size: 24px;
}

.txt-m {
  font-size: 20px;
}

.txt-s {
  font-size: 16px;
}

.txt-xs {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.black {
  font-weight: 900;
}

.medium {
  font-weight: 500;
}

.font_en {
  font-family: "Roboto";
}

.font_ch {
  font-family: "Noto Sans TC";
}

.italic {
  font-style: italic;
}

body {
  line-height: 1.5;
  font-family: "Noto Sans TC", serif;
}

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

.background_header {
  background: #AA0601;
}

.header {
  display: flex;
  align-items: center;
  font-family: "Noto Sans TC";
  height: 80px;
}
.header .logo {
  display: block;
  width: 80px;
  height: 50px;
  background-image: url("https://i.imgur.com/K0h720j.png");
  background-size: cover;
  background-position: center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.header a {
  color: #ffffff;
  text-decoration: none;
}
.header .nav {
  display: flex;
  margin-left: auto;
}
.header .nav li {
  margin-left: 64px;
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .header .nav {
    font-size: 16px;
    line-height: 1.5;
  }
  .header .nav li {
    margin-left: 24px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 13px;
    padding-right: 14px;
  }
  .background_header .container {
    padding: 0;
  }
  .header {
    flex-direction: column;
    height: 176px;
  }
  .header h1 {
    padding-left: 15px;
    height: 80px;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .nav {
    background-color: #AA0601;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .header .nav li {
    margin: 0;
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
  }
}
.background {
  background-color: #AA0601;
}

.footer {
  padding-top: 48px;
  color: #ffffff;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer .ankle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 32px;
}
.footer .ankle .linkGroup {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.footer .ankle .linkGroup .nav {
  margin-right: auto;
  display: flex;
  flex-shrink: 1;
}
.footer .ankle .linkGroup .nav li:not(:last-child) {
  margin-right: 48px;
}
.footer .ankle .linkGroup .community {
  display: flex;
  flex-shrink: 1;
}
.footer .ankle .linkGroup .community li:not(:last-child) {
  margin-right: 32px;
}
.footer .ankle .linkGroup .community li img {
  display: block;
  width: 48px;
}
.footer .ankle .linkGroup .contact {
  padding-top: 24px;
  padding-bottom: 32px;
}
.footer .ankle .linkGroup .contact li {
  display: flex;
  align-items: center;
}
.footer .ankle .linkGroup .contact li span {
  margin-right: 20px;
}
.footer .foot {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer .foot .copyright {
  margin-right: auto;
}
.footer .foot .terms2 {
  margin-left: 48px;
}

@media (max-width: 768px) {
  .footer .ankle .community li img {
    width: 40px;
  }
  .footer .foot {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .footer .ankle .linkGroup .nav li:not(:last-child) {
    margin-right: 12px;
  }
}
@media (max-width: 375px) {
  .footer {
    padding-top: 24px;
  }
  .footer .ankle {
    flex-direction: row-reverse;
  }
  .footer .ankle .linkGroup .nav {
    display: none;
  }
  .footer .ankle .linkGroup .community li img {
    width: 24px;
  }
  .footer .ankle .contact {
    font-size: 16px;
    line-height: 1.5;
  }
  .footer .foot {
    padding-top: 16px;
    padding-bottom: 24px;
    flex-direction: column;
  }
  .footer .foot p {
    margin-bottom: 8px;
  }
  .footer .foot .terms2 {
    margin: 0;
  }
}
.outerBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
}
.pagination .page {
  border: 1px solid #555555;
  padding: 12px 16px;
  font-size: 18px;
}
.pagination .page2 {
  background-color: #000000;
  color: #ffffff;
}
.pagination .next,
.pagination .prev {
  font-size: 19px;
}
.pagination .next {
  background-color: #F2F2F2;
}

@media (max-width: 375px) {
  .pagination .page {
    font-size: 16px;
    padding: 12px 13px;
  }
}
.bread {
  display: flex;
  font-size: 16px;
}
.bread li {
  white-space: pre-wrap;
}
.bread li a {
  text-decoration: none;
}
.bread li:last-child a {
  color: #AA0601;
}
.bread li:not(:last-child) a {
  color: #000;
}
.bread li:not(:last-child)::after {
  content: " / ";
}

body {
  font-family: "Noto Sans TC";
}

.background_banner {
  background-image: url(/assets/images/home-header.png);
  background-size: cover;
}
.background_banner .banner {
  height: 787px;
  color: #650300;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.background_banner .banner .toBuy {
  background-color: #AA0601;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
}

.background_feature {
  background-color: #FBF2F2;
}
.background_feature .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.background_feature .feature h2 {
  color: #650300;
  margin-bottom: 24px;
}
.background_feature .feature ul {
  display: flex;
  gap: 24px;
}
.background_feature .feature ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.background_feature .feature ul li img {
  margin-bottom: 16px;
}
.background_feature .feature ul li h3 {
  color: #650300;
  margin-bottom: 8px;
}

.series {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #650300;
}
.series h2 {
  margin-bottom: 48px;
}
.series ul {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.series ul li {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.series ul li img {
  margin-bottom: 8px;
}

.background_joint {
  background-image: url(/assets/images/index-bg.png);
}
.background_joint .joint {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.background_joint .joint h2 {
  color: #ffffff;
  margin-bottom: 48px;
}
.background_joint .joint ul {
  display: flex;
  justify-content: center;
}
.background_joint .joint ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background_joint .joint ul li h3 {
  background-color: white;
  width: 100%;
  text-align: center;
  color: #650300;
  padding: 8px 0;
}

.recommondation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.recommondation h2 {
  margin-bottom: 48px;
  color: #650300;
}
.recommondation ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.recommondation ul .card {
  border-radius: 4px;
  border: 1px solid #DEE2E6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  width: 25%;
  display: flex;
  flex-direction: column;
}
.recommondation ul .card .customer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex-grow: 1;
}
.recommondation ul .card .customer h3 {
  margin-bottom: 8px;
}
.recommondation ul .card .customer .exp {
  flex-grow: 1;
  padding-bottom: 48px;
}
.recommondation ul .card .customer .date {
  color: #707070;
}

.background_contact {
  background-color: #FBF2F2;
}
.background_contact .contact {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.background_contact .contact h2 {
  margin-bottom: 48px;
  color: #650300;
}
.background_contact .contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.background_contact .contact form label {
  margin-bottom: 8px;
}
.background_contact .contact form .full {
  width: 100%;
  background-color: #FBF2F2;
  border: 1px solid #000;
  margin-bottom: 16px;
  box-sizing: border-box;
  height: 36px;
}
.background_contact .contact form button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #AA0601;
  border: none;
  color: #ffffff;
  align-self: center;
  margin-top: 48px;
}

@media (max-width: 768px) {
  .background_feature .feature ul {
    flex-wrap: wrap;
  }
  .background_feature .feature ul li {
    width: 45%;
  }
  .series {
    width: 50%;
  }
  .series ul {
    flex-wrap: wrap;
  }
  .series ul li {
    width: 100%;
  }
  .background_joint .joint ul {
    flex-wrap: wrap;
    gap: 24px;
  }
  .background_joint .joint ul li {
    width: 98%;
  }
  .recommondation ul {
    flex-wrap: wrap;
  }
  .recommondation ul .card {
    width: 45%;
  }
  .background_contact .contact {
    max-width: 83%;
  }
}
@media (max-width: 576px) {
  .background_feature .feature h2 {
    font-size: 24px;
    line-height: 1.5;
  }
}
@media (max-width: 375px) {
  .background_banner {
    background-image: url(/assets/images/home-header-sm.png);
  }
  .background_banner .banner {
    height: 396px;
  }
  .background_banner .banner h3 {
    font-size: 16px;
    line-height: 1.5;
  }
  .background_banner .banner h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .background_feature .feature h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .background_feature .feature ul li {
    width: 100%;
  }
  .series {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .series h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .background_joint .joint {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .background_joint .joint h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .recommondation {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .recommondation h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .recommondation ul .card {
    width: 100%;
  }
  .background_contact .contact {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .background_contact .contact h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .background_contact .contact p {
    font-size: 16px;
    line-height: 1.5;
  }
  .background_contact .contact form button {
    margin-top: 24px;
  }
}
.commonQuestions {
  padding-top: 96px;
  padding-bottom: 80px;
}
.commonQuestions h2 {
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 32px;
}
.commonQuestions h3 {
  margin-bottom: 24px;
}
.commonQuestions .questions {
  max-width: 856px;
}
.commonQuestions .questions .faq:not(:last-child) {
  margin-bottom: 32px;
}
.commonQuestions .questions .faq .question {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .commonQuestions {
    padding-top: 80px;
  }
}
@media (max-width: 375px) {
  .commonQuestions {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .commonQuestions h2 {
    margin-bottom: 24px;
  }
  .commonQuestions .questions .faq:not(:last-child) {
    margin-bottom: 24px;
  }
}
.stores {
  padding-top: 96px;
  padding-bottom: 80px;
}
.stores h2 {
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 32px;
}
.stores .lb-region {
  margin-right: 16px;
}
.stores .se-region {
  width: 304px;
  height: 38px;
}
.stores .cards {
  margin-top: 41px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.stores .cards .card {
  width: 31%;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.stores .cards .card .cardHeader {
  padding: 8px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.stores .cards .card .cardBody {
  padding: 16px 24px;
}
.stores .cards .card .cardFooter {
  background-color: #000;
}
.stores .cards .card .cardFooter a {
  display: block;
  text-align: center;
  color: #ffffff;
  padding: 16px 0;
  text-decoration: none;
}

@media (max-width: 768px) {
  .stores .cards {
    gap: 24px;
  }
  .stores .cards .card {
    width: 48%;
  }
}
.storeInfo {
  padding-top: 96px;
  padding-bottom: 80px;
}
.storeInfo h2 {
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 32px;
}
.storeInfo .lb-region {
  margin-right: 16px;
}
.storeInfo .se-region {
  width: 304px;
  height: 38px;
}
.storeInfo .info {
  display: flex;
  gap: 24px;
  margin-top: 40px;
  align-items: center;
}
.storeInfo .info .card .cardHeader {
  padding: 8px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.storeInfo .info .card .cardBody {
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  padding: 16px 24px;
}
.storeInfo .info .map {
  width: 60%;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .storeInfo .info {
    flex-direction: column;
  }
  .storeInfo .info .store {
    display: flex;
    gap: 24px;
  }
  .storeInfo .info .store img {
    width: 48%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .storeInfo .info .store .card {
    width: 48%;
    flex-shrink: 1;
  }
  .storeInfo .info .map {
    width: 100%;
  }
}
.seriesOptical {
  padding-bottom: 80px;
}
.seriesOptical .seriesOptions, .seriesOptical .seriesOptions_s {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 32px;
  border-bottom: 1px solid #DCDCDC;
}
.seriesOptical .seriesOptions .choose, .seriesOptical .seriesOptions_s .choose {
  border-bottom: 8px solid #AA0601;
}
.seriesOptical .seriesOptions .notChoose, .seriesOptical .seriesOptions_s .notChoose {
  border-bottom: 8px solid rgba(0, 0, 0, 0);
}
.seriesOptical .seriesOptions li, .seriesOptical .seriesOptions_s li {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}
.seriesOptical .seriesOptions a, .seriesOptical .seriesOptions_s a {
  padding-top: 24px;
  padding-bottom: 16px;
  display: block;
  text-decoration: none;
  color: #000000;
}
.seriesOptical .seriesOptions_s {
  display: none;
}
.seriesOptical .pictures {
  display: flex;
  margin-bottom: 80px;
}
.seriesOptical .seriesName {
  font-size: 42px;
  text-align: center;
}
.seriesOptical .seriesName_ch {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}
.seriesOptical .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seriesOptical .glasses {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 24px;
  width: 100%;
  margin-bottom: 80px;
}
.seriesOptical .glasses .card {
  width: 21%;
  flex-grow: 1;
}
.seriesOptical .glasses .cardBody {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.seriesOptical .glasses .cardBody p {
  text-align: justify;
}
.seriesOptical .glasses .cardBody .price {
  color: #650300;
  font-weight: 500;
}
.seriesOptical .glasses .cardFooter a {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.seriesOptical .glasses .cardFooter .coffee {
  background-color: #5F3E2D;
  margin-right: 8px;
}
.seriesOptical .glasses .cardFooter .brown {
  background-color: #B75929;
}

@media (max-width: 992px) {
  .seriesOptical .glasses .card {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .seriesOptical .seriesOptions {
    display: none;
  }
  .seriesOptical .seriesOptions_s {
    display: flex;
  }
  .seriesOptical .pictures .pic_l {
    content: url(/assets/images/product-header-sm-1.png);
  }
  .seriesOptical .pictures .pic_r {
    content: url(/assets/images/product-header-sm-2.png);
  }
  .seriesOptical .glasses {
    gap: 40px 24px;
  }
  .seriesOptical .glasses .card {
    width: 45%;
  }
}
@media (max-width: 375px) {
  .seriesOptical {
    padding-bottom: 64px;
  }
  .seriesOptical .pictures {
    margin-bottom: 40px;
  }
  .seriesOptical .seriesName_ch {
    margin-bottom: 24px;
  }
  .seriesOptical .seriesOptions_s {
    font-size: 16px;
  }
  .seriesOptical .seriesOptions_s li a {
    padding-top: 16px;
    padding-bottom: 8px;
  }
  .seriesOptical .glasses {
    gap: 24px;
    margin-bottom: 64px;
  }
  .seriesOptical .glasses .card {
    width: 98%;
  }
}
.seriesSunglasses {
  padding-bottom: 80px;
}
.seriesSunglasses .seriesOptions, .seriesSunglasses .seriesOptions_s {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 32px;
  border-bottom: 1px solid #DCDCDC;
}
.seriesSunglasses .seriesOptions .choose, .seriesSunglasses .seriesOptions_s .choose {
  border-bottom: 8px solid #AA0601;
}
.seriesSunglasses .seriesOptions .notChoose, .seriesSunglasses .seriesOptions_s .notChoose {
  border-bottom: 8px solid rgba(0, 0, 0, 0);
}
.seriesSunglasses .seriesOptions li, .seriesSunglasses .seriesOptions_s li {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}
.seriesSunglasses .seriesOptions a, .seriesSunglasses .seriesOptions_s a {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  text-decoration: none;
  color: #000000;
}
.seriesSunglasses .seriesOptions_s {
  display: none;
}
.seriesSunglasses .pictures {
  display: flex;
  margin-bottom: 80px;
}
.seriesSunglasses .seriesName {
  font-size: 42px;
  text-align: center;
}
.seriesSunglasses .seriesName_ch {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}
.seriesSunglasses .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seriesSunglasses .glasses {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 24px;
  width: 100%;
  margin-bottom: 80px;
}
.seriesSunglasses .glasses .card {
  width: 30%;
  flex-grow: 1;
}
.seriesSunglasses .glasses .cardBody {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.seriesSunglasses .glasses .cardBody p {
  text-align: justify;
}
.seriesSunglasses .glasses .cardBody .price {
  color: #650300;
  font-weight: 500;
}
.seriesSunglasses .glasses .cardFooter a {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.seriesSunglasses .glasses .cardFooter .coffee {
  background-color: #5F3E2D;
  margin-right: 8px;
}
.seriesSunglasses .glasses .cardFooter .brown {
  background-color: #B75929;
}
.seriesSunglasses .pagination {
  display: flex;
}
.seriesSunglasses .pagination .page {
  border: 1px solid #555555;
  padding: 12px 16px;
  font-size: 18px;
}
.seriesSunglasses .pagination .page2 {
  background-color: #000000;
  color: #ffffff;
}
.seriesSunglasses .pagination .next, .seriesSunglasses .pagination .prev {
  font-size: 19px;
}
.seriesSunglasses .pagination .next {
  background-color: #F2F2F2;
}

@media (max-width: 992px) {
  .seriesSunglasses .glasses .card {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .seriesSunglasses .seriesOptions {
    display: none;
  }
  .seriesSunglasses .seriesOptions_s {
    display: flex;
  }
  .seriesSunglasses .pictures .pic_l {
    content: url(/assets/images/product-header-sm-1.png);
  }
  .seriesSunglasses .pictures .pic_r {
    content: url(/assets/images/product-header-sm-2.png);
  }
  .seriesSunglasses .glasses {
    gap: 40px 24px;
  }
  .seriesSunglasses .glasses .card {
    width: 45%;
  }
}
@media (max-width: 375px) {
  .seriesSunglasses {
    padding-bottom: 64px;
  }
  .seriesSunglasses .pictures {
    margin-bottom: 40px;
  }
  .seriesSunglasses .seriesName_ch {
    margin-bottom: 24px;
  }
  .seriesSunglasses .seriesOptions_s {
    font-size: 16px;
  }
  .seriesSunglasses .seriesOptions_s li a {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .seriesSunglasses .glasses {
    gap: 24px;
    margin-bottom: 64px;
  }
  .seriesSunglasses .glasses .card {
    width: 98%;
  }
  .seriesSunglasses .pagination .page {
    font-size: 16px;
    padding: 12px 13px;
  }
}
.background_blog_top {
  background-color: #650300;
}

.blog_top {
  color: #ffffff;
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 20px;
  font-family: "Roboto", "serif";
  align-items: center;
}
.blog_top .nav_sec {
  display: flex;
  margin-right: auto;
  gap: 48px;
  font-weight: bold;
}
.blog_top a {
  text-decoration: none;
  color: #ffffff;
}

.blog {
  padding-top: 96px;
  padding-bottom: 80px;
}
.blog h2 {
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-bottom: 32px;
}
.blog .posts {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 124px;
}
.blog .posts .card {
  display: flex;
  gap: 24px;
  align-items: center;
}
.blog .posts .imgBtn {
  width: 50%;
  display: block;
  flex-shrink: 1;
}
.blog .posts .imgBtn img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .posts .article {
  width: 50%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}
.blog .posts .article h3 {
  font-size: 32px;
  color: #650300;
}
.blog .posts .date {
  font-family: "Roboto", serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.blog .posts .date h4 {
  font-size: 20px;
}
.blog .posts .date p {
  font-size: 16px;
}
.blog .posts .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.blog .posts .content p {
  font-size: 20px;
  margin-bottom: auto;
  color: #555555;
}
.blog .posts .content .more {
  align-self: flex-end;
  text-decoration: none;
  color: #650300;
  font-family: "Noto Sans TC", serif;
  font-size: 36px;
}

@media (max-width: 768px) {
  .blog {
    padding-top: 80px;
  }
  .blog h2 {
    margin-bottom: 40px;
  }
  .blog .posts {
    gap: 24px;
    margin-bottom: 80px;
  }
  .blog .posts .article h3 {
    font-size: 24px;
  }
  .blog .posts .article .date {
    margin-bottom: 4px;
  }
  .blog .posts .article .date h4 {
    font-size: 16px;
  }
  .blog .posts .content {
    display: block;
  }
  .blog .posts .content p {
    font-size: 16px;
    display: inline;
  }
  .blog .posts .content .more {
    font-size: 16px;
    color: #000;
  }
}
@media (max-width: 375px) {
  .background_blog_top {
    display: none;
  }
  .blog {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .blog h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .blog .posts {
    margin-bottom: 64px;
  }
  .blog .posts .card {
    flex-direction: column;
    gap: 8px;
  }
  .blog .posts .content {
    display: none;
  }
  .blog .posts .imgBtn, .blog .posts .article {
    width: 100%;
  }
}
.planning_top {
  padding-top: 24px;
  padding-bottom: 80px;
}
.planning_top .tag {
  color: #AA0601;
  font-weight: bold;
  font-size: 24px;
}
.planning_top .tag span {
  margin-right: 15px;
}

.planning {
  display: flex;
  gap: 24px;
}

.planningContent {
  padding-top: 8px;
  width: 67%;
}
.planningContent h2 {
  font-size: 48px;
}
.planningContent h3 {
  font-family: "Roboto", serif;
  font-size: 24px;
  margin-bottom: 16px;
}
.planningContent .planning_img {
  margin-bottom: 8px;
}
.planningContent .planning_content {
  color: #555555;
  font-size: 16px;
  margin-bottom: 40px;
}
.planningContent .share {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 16px;
  font-family: "Roboto", serif;
  font-weight: bold;
  margin-bottom: 16px;
}
.planningContent .share li {
  height: 24px;
}
.planningContent .share img {
  height: 100%;
  display: block;
}

.article_change {
  width: 67%;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #707070;
}
.article_change a {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
}

.planningTags {
  width: 33%;
  font-family: "Roboto", serif;
  color: #AA0601;
  font-weight: bold;
}
.planningTags h3 {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 32px;
}
.planningTags .tags {
  width: 75%;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.planningTags .tags span {
  margin-right: 24px;
}

@media (max-width: 768px) {
  .planning_top {
    padding-top: 8px;
  }
  .planningContent h3 {
    margin-bottom: 16px;
  }
  .planningContent .planning_img {
    margin-bottom: 16px;
  }
  .planningContent .planning_content {
    margin-bottom: 24px;
  }
  .planningTags .tags {
    font-size: 16px;
  }
  .planningTags .tags span {
    margin-right: 16px;
  }
  .article_change {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .planning_top {
    padding-bottom: 64px;
  }
  .planning_top .tag {
    font-size: 16px;
  }
  .planningContent {
    width: 100%;
  }
  .planningContent h2 {
    font-size: 24px;
  }
  .planningContent h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .planningContent .share {
    display: none;
  }
  .planningContent .planning_img {
    margin-bottom: 8px;
  }
  .planningContent .planning_content {
    margin-bottom: 16px;
  }
  .planningTags {
    display: none;
  }
  .article_change {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */