<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="background_banner">
      <div class="banner container">
        <h3 class="h3">Pormise-Desert 2020 早春系列</h3>
        <h2 class="h1 bold">看得清，才能看得遠</h2>
        <button class="toBuy txt-m medium" type="button">立即購買</button>
      </div>
    </div>
    <div class="background_feature">
      <div class="feature container">
        <h2 class="feature_title h2 bold">用專業的心，做專業的事</h2>
        <ul class="features">
          <li>
            <img width="100" src="/assets/images/home-section2-1.png" alt="coin picture">
            <h3 class="txt-l bold">單一價格</h3>
            <p class="txt-s">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li>
            <img width="100" src="/assets/images/home-section2-2.png" alt="clock picture">
            <h3 class="txt-l bold">20 分鐘即可取件</h3>
            <p class="txt-s">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li>
            <img width="100" src="/assets/images/home-section2-3.png" alt="heart picture">
            <h3 class="txt-l bold">安心售後服務</h3>
            <p class="txt-s">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li>
            <img width="100" src="/assets/images/home-sectioin2-4.png" alt="glasses picture">
            <h3 class="txt-l bold">關於鏡片</h3>
            <p class="txt-s">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="series container">
      <h2 class="h2 bold">經典系列鏡框</h2>
      <ul class="series_all">
        <li>
          <img src="/assets/images/home-section3-1.png" alt="optical glasses picture">
          <h3 class="h2 font_en italic black">OPTICAL</h3>
        </li>
        <li>
          <img src="/assets/images/home-section3-2.png" alt="sunglasses picture">
          <h3 class="h2 font_en italic black">SUNGLASSES</h3>
        </li>
        <li>
          <img src="/assets/images/home-section3-3.png" alt="functional glasses picture">
          <h3 class="h2 font_en italic black">FUNCTIONAL</h3>
        </li>
      </ul>
    </div>
    <div class="background_joint">
      <div class="joint container">
        <h2 class="h2 bold">聯名設計鏡框</h2>
        <ul class="joint_type">
          <li>
            <img src="/assets/images/home-section4-1.png" alt="glasses">
            <h3 class="h2 black italic font_en">DOUBLE A+</h3>
          </li>
          <li>
            <img src="/assets/images/home-section4-2.png" alt="glasses">
            <h3 class="h2 black italic font_en">YOUTH</h3>
          </li>
        </ul>
      </div>
    </div>
    <div class="recommondation container">
      <h2 class="h2 bold">顧客推薦</h2>
      <ul class="customers_all">
        <li class="card">
          <img src="/assets/images/home-section5-1.png" alt="customer picture">
          <div class="customer">
            <h3 class="txt-s medium">Jessy</h3>
            <p class="exp txt-s">眼鏡品質優良，下次還會想來這邊購買！</p>
            <p class="date txt-xs">2021/06/20</p>
          </div>
        </li>
        <li class="card">
          <img src="/assets/images/home-section5-2.png" alt="customer picture">
          <div class="customer">
            <h3 class="txt-s medium">凱倫</h3>
            <p class="exp txt-s">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            <p class="date txt-xs">2021/04/18</p>
          </div>
        </li>
        <li class="card">
          <img src="/assets/images/home-section5-3.png" alt="customer picture">
          <div class="customer">
            <h3 class="txt-s medium">悠悠</h3>
            <p class="exp txt-s">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            <p class="date txt-xs">2020/12/25</p>
          </div>
        </li>
        <li class="card">
          <img src="/assets/images/home-section5-4.png" alt="customer picture">
          <div class="customer">
            <h3 class="txt-s medium">Kyuan</h3>
            <p class="exp txt-s">服務很好，品質沒有任何問題，非常喜歡。</p>
            <p class="date txt-xs">2020/10/31</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="background_contact">
      <div class="contact">
        <h2 class="h2 bold">聯絡我們</h2>
        <p class="txt-m">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form action="">
          <label for="name">
            <p>姓名</p>
          </label>
            <input class="full" type="text" name="name" id="name" placeholder="陳小明">
          <label for="phone">
            <p>聯絡電話</p>
          </label>
            <input class="full" type="tel" name="phone" id="phone" placeholder="0912-345-678">
          <label for="email">
            <p>電子郵件</p>
          </label>
            <input class="full" type="email" name="email" id="email" placeholder="example@email.com">
          <label for="idea">
            <p>意見反應</p>
          </label>
          <textarea id="idea" name="idea" rows="5" cols="33"></textarea>            
          <label for="agree">
            <input type="checkbox" name="agree" id="agree">
            <span>
              我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
            </span>
          </label>
          <button class="txt-s bold" type="button">確認送出</button>
        </form>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>