<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>特別企劃</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="background_blog_top">
            <div class="blog_top container">
                <ul class="nav_sec">
                    <li><a href="#">最新消息</a></li>
                    <li><a href="#">特別企劃</a></li>
                    <li><a href="#">新品上市</a></li>
                    <li><a href="#">鏡框小知識</a></li>
                </ul>
                <span class="material-symbols-outlined bold">
                    search
                </span>
            </div>
        </div>
        <div class="planning_top">
            <div class="container">
                <%- include('./layout/bread'); -%>
                    <div class="tag">
                        <span>#special</span><span>#event</span>
                    </div>
            </div>
            <div class="planning container">
                <div class="planningContent">
                    <h2 class="planning_title">情人特別企劃</h2>
                    <h3>2020 Valentine's Special</h3>
                    <img class="planning_img" src="/assets/images/blogpage-1.png" alt="企劃圖片1">
                    <p class="planning_content">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>
                        本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    <img class="planning_img" src="/assets/images/blogpage-2.png" alt="企劃圖片2">
                    <p class="planning_content">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>本次拍攝的鏡框款式與 NEEDS CLASSIC
                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    <img class="planning_img" src="/assets/images/blogpage-3.png" alt="企劃圖片3">
                    <p class="planning_content">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>本次拍攝的鏡框款式與 NEEDS CLASSIC
                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    <img class="planning_img" src="/assets/images/blogpage-4.png" alt="企劃圖片4">
                    <p class="planning_content">2/14(五)-2/20(日)<br>至本店單筆消費滿2980元,
                        就送情人節限定眼鏡盒1個<br>期間優惠還有~~持他牌鏡框更換鏡片<br>薄型非球面鏡片折300元<br>濾藍光鏡片折500元<br>快快帶上另一半<br>讓彼此每一次睜開眼，都被愛的視線包圍!
                    </p>
                    <ul class="share">
                        <li>
                            <p>Share</p>
                        </li>
                        <li><a href="#"><img src="/assets/images/logo-facebook.png" alt="facebook logo"></a></li>
                        <li><a href="#"><img src="/assets/images/logo-instagram.png" alt="instagram logo"></a></li>
                    </ul>
                </div>
                <div class="planningTags">
                    <h3>
                        <span class="material-symbols-outlined">
                            label
                        </span>
                        <span>TAGS</span>
                    </h3>
                    <div class="tags">
                        <span>#special</span>
                        <span>#sale</span>
                        <span>#new_item</span>
                        <span>#interview</span>
                        <span>#trivia</span>
                        <span>#news</span>
                        <span>#event</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <ul class="article_change">
                    <li>
                        <a href="#">
                            <span class="material-symbols-outlined">
                                arrow_back
                            </span>
                            <span>
                                上一篇：街頭潮人訪問
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                下一篇：街頭潮人訪問
                            </span><span class="material-symbols-outlined">
                                arrow_forward
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>