<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUNGLASSES-系列鏡框</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="seriesSunglasses">
            <ul class="seriesOptions container font_en">
                <li>
                    <a class="notChoose" href="seriesOptical.html">
                        OPTICAL
                    </a>
                </li>
                <li>
                    <a class="choose" href="seriesSunglasses.html">
                        SUNGLASSES
                    </a>
                </li>
                <li>
                    <a class="notChoose" href="">
                        FUNCTIONAL
                    </a>
                </li>
            </ul>
            <ul class="seriesOptions_s font_en">
                <li>
                    <a class="notChoose" href="seriesOptical.html">
                        OPTICAL
                    </a>
                </li>
                <li>
                    <a class="choose" href="seriesSunglasses.html">
                        SUNGLASSES
                    </a>
                </li>
                <li>
                    <a class="notChoose" href="">
                        FUNCTIONAL
                    </a>
                </li>
            </ul>
            <ul class="pictures">
                <li><img class="pic_l" src="/assets/images/product-header-3.png" alt=""></li>
                <li><img class="pic_r" src="/assets/images/product-header-4.png" alt=""></li>
            </ul>
            <div class="products container">
                <h2 class="seriesName font_en medium">2020 NEW COLLECTION</h2>
                <h3 class="seriesName_ch">賽璐珞鈦金屬混合鏡框</h3>
                <ul class="glasses font_en">
                    <li class="card">
                        <img src="/assets/images/product-7.png" alt="">
                        <div class="cardBody"><span class="modelNo">BJ41600S</span><span class="price">NTD3,490</span>
                        </div>
                        <div class="cardFooter"><a class="coffee" href=""></a><a class="brown" href=""></a></div>
                    </li>
                    <li class="card">
                        <img src="/assets/images/product-8.png" alt="">
                        <div class="cardBody"><span class="modelNo">BJ41600S</span><span class="price">NTD3,490</span>
                        </div>
                        <div class="cardFooter"><a class="coffee" href=""></a><a class="brown" href=""></a></div>
                    </li>
                    <li class="card">
                        <img src="/assets/images/product-9.png" alt="">
                        <div class="cardBody"><span class="modelNo">BJ41600S</span><span class="price">NTD3,490</span>
                        </div>
                        <div class="cardFooter"><a class="coffee" href=""></a><a class="brown" href=""></a></div>
                    </li>
                    <li class="card">
                        <img src="/assets/images/product-10.png" alt="">
                        <div class="cardBody"><span class="modelNo">BJ41600S</span><span class="price">NTD3,490</span>
                        </div>
                        <div class="cardFooter"><a class="coffee" href=""></a><a class="brown" href=""></a></div>
                    </li>
                    <li class="card">
                        <img src="/assets/images/product-11.png" alt="">
                        <div class="cardBody"><span class="modelNo">BJ41600S</span><span class="price">NTD3,490</span>
                        </div>
                        <div class="cardFooter"><a class="coffee" href=""></a><a class="brown" href=""></a></div>
                    </li>
                    <li class="card">
                        <img src="/assets/images/product-12.png" alt="">
                        <div class="cardBody"><span class="modelNo">BJ41600S</span><span class="price">NTD3,490</span>
                        </div>
                        <div class="cardFooter"><a class="coffee" href=""></a><a class="brown" href=""></a></div>
                    </li>
                </ul>
                <ul class="pagination font_en">
                    <li class="page prev">上一頁</li>
                    <li class="page page1">1</li>
                    <li class="page page2">2</li>
                    <li class="page page3">3</li>
                    <li class="page page4">4</li>
                    <li class="page page5">5</li>
                    <li class="page next">下一頁</li>
                </ul>
            </div>
        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>